// ================================================= Import Google Fonts =======================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Source+Serif+Pro:wght@400;600&display=swap');

// ================================================= Default colours =======================================================

$black: hsl(0, 0%, 0%);
$white: hsl(0,0%,100%);

$intense-pink: hsl(334,99%,44%);
$intense-pink-red: hsl(346,79%,50%);

$gray-dark: hsl(0, 0%, 23%);
$gray-light: hsl(0,0%,34%);
$gray-light-secondary: hsl(0, 0%, 67%);
$gray-light-transparent: hsl(213,5%,41%);
$gray-details-light: hsl(0, 0%, 92%);

// $title-font: 'Source Serif Pro', serif;
$title-font: 'Montserrat', sans-serif;
$subtitle-paragraph-font: 'Montserrat', sans-serif;

// ================================================= Mixins for styling =======================================================

@mixin btn-background {
  background: linear-gradient(to right, var(--details-colour-secondary), var(--details-colour-main));
}

// ================================================= Root Colours, Font Variables etc. =======================================================

:root{
  --text-colour-main-dark: #{$gray-dark};
  --text-colour-main-light: #{$white};
  --text-colour-light: #{$gray-light};
  --text-colour-light-secondary: #{$gray-light-secondary};

  --background-colour-main: #{$white};
  --background-colour-dark-gray: #{$gray-dark};
  --background-colour-light-gray: #{$gray-light};
  --background-colour-light-gray-transparent: #{$gray-light-transparent};

  --details-colour-main: #{$intense-pink};
  --details-colour-secondary: #{$intense-pink-red};
  --details-color-gray:#{$gray-details-light};

  --title-font: #{$title-font};
  --subtitle-font: #{$subtitle-paragraph-font};
  --paragraph-font: #{$subtitle-paragraph-font};

  --big-font-size: #{2.25rem};
  --h1-font-size: #{1.75rem};
  --h2-font-size: #{1.5rem};
  --h3-font-size: #{1.25rem};
  --normal-font-size: #{1rem};
  --small-font-size: #{0.8rem};

  --font-normal-bold: 400;
  --font-light-bold: 500;
  --font-medium-bold: 600;
<<<<<<< HEAD
=======

  --btn-border-radius: 5rem;

  --input-border-radius: 3rem;
>>>>>>> main-feature
}