// ================================================= Import Google Fonts =======================================================
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

// === Default colours ===

$black: hsl(0, 0%, 0%);
$black-2: rgba(0, 0, 0, 0.1);
$black-3: rgba(0, 0, 0, 0.06);

$white: hsl(0, 0%, 100%);
$white-2: #f4f4f4;

$gray-1: rgb(215, 215, 215);
$gray-2: rgb(194, 194, 194); //
$gray-3: hsl(0, 0%, 42%);
$gray-4: hsla(0, 3%, 28%, 0.817);
$gray-5: rgb(39, 39, 39);

$green: rgb(0, 187, 0);

$pink-1: hsl(334, 83%, 48%);
$pink-2: hsl(0, 80%, 57%);

$title-font: "Montserrat", sans-serif;
$subtitle-paragraph-font: "Montserrat", sans-serif;

// ==== Root Colours, Font Variables etc. ===

:root {
  --background-color-main: #{$white-2};
  --background-color-content: #{$white};
  --background-color-light: #{$gray-1};
  --background-color-dark: #{$gray-5};
  --background-color-dark-secondary: #{$gray-3};

  --details-colour-main: #{$pink-1};
  --details-colour-secondary: #{$pink-2};

  --box-shadow-primary: #{$black-2};
  --box-shadow-secondary: #{$black-3};

  --text-color-light: #{$white};
  --text-color-light-secondary: #{$gray-2};

  --text-color-dark: #{$gray-5};
  --text-color-dark-secondary: #{$gray-3};

  --text-color-valid: #{$green};

  --title-color-dark: #{$gray-5};

  --border-color-primary: #{$gray-2};
  --border-color-secondary: #{$gray-1};

  --border-radius-primary: .4rem;
  --btn-border-radius: 5rem;

  --big-font-size: #{2.25rem};
  --h1-font-size: #{1.7rem};
  --h2-font-size: #{1.5rem};
  --h3-font-size: #{1.25rem};
  --h4-font-size: #{1rem};
  --normal-font-size: #{0.9rem};
  --small-font-size: #{0.7rem};

  --font-normal-light: 300;
  --font-normal-bold: 400;
  --font-light-bold: 500;
  --font-medium-bold: 600;

  --title-font: #{$title-font};
  --subtitle-font: #{$subtitle-paragraph-font};
  --paragraph-font: #{$subtitle-paragraph-font};
}


// === Mixins for styling ===

@mixin btn-background {
  background: linear-gradient(
    to right,
    var(--details-colour-secondary),
    var(--details-colour-main)
  );
  padding: 0.5rem 1.2rem;
  color: var(--text-color-light);
  font-size: var(--normal-font-size);
  font-weight: var(--font-light-bold);
  letter-spacing: 0.03rem;
  border: none;
  border-radius: var(--btn-border-radius);
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }

  @media only screen and (max-width: 500px) {
    font-size: var(--small-font-size);
  }
}

