.categoriesPageContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 2rem;
  background-color: var(--background-color-main);

  // CATEGORIES AND SEARCH CONTAINER
  .categoriesAndSearchContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 15rem;
    justify-content: space-around;
    height: 100%;
    padding-left: 2rem;

    @media only screen and (max-width: 1000px) {
      width: 90%;
      padding-left: 0;
    }

    .searchBarContainer {
      position: relative;

      input {
        border: none;
        outline: none;
        box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
          var(--box-shadow-secondary) 0px 1px 2px 0px;
        width: 100%;
        margin-bottom: 2rem;
        height: 2.5rem;
        padding-left: 1rem;
        padding-right: 2.5rem;
        font-size: 0.9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: var(--font-normal-light);
      }

      svg {
        position: absolute;
        right: 0.4rem;
        top: 0.8rem;
        color: var(--text-color-dark-secondary);
        cursor: pointer;
        width: 2rem;
      }

      .searchBarOutput {
        background-color: var(--background-color-content);
        position: absolute;
        top: 2.4rem;
        width: 100%;
        padding: 0 1rem;
        font-size: var(--normal-font-size);
        box-shadow: var(--box-shadow-primary) 0px 2px 5px 0px,
          var(--box-shadow-secondary) 0px 1px 1px 0px;

        .searchBarOutputItem {
          border-top: 0.1rem solid var(--border-color-secondary);
          width: 100%;

          &:first-of-type {
            border: none;
          }

          span {
            display: block;
            padding: 0.7rem 0;
            text-transform: capitalize;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
              color: var(--details-colour-secondary);
            }
          }
        }
      }
      .clearSearchBarOutput {
        display: none;
      }
    }

    // CATEGORIES CONTAINER WITH BUTTON FOR DROPDOWN FUNCTION
    .categoriesContainer {
      box-shadow: var(--box-shadow-primary) 0px 2px 5px 0px,
          var(--box-shadow-secondary) 0px 1px 1px 0px;
      margin-bottom: 1rem;
      background: var(--background-color-content);

      .titleAndDropdownContainer {
        border-bottom: 0.1rem solid var(--border-color-secondary);
        padding: 0.2rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          display: block;
          text-transform: capitalize;
          font-weight: var(--font-light-bold);
          font-size: var(--h4-font-size);
          padding: 0.5rem 0;
        }

        .categoryDropdownArrow {
          cursor: pointer;
          line-height: 0.5rem;
          @media only screen and (min-width: 1000px) {
            display: none;
          }
        }
      }

      // LIST OF ALL CATEGORIES
      .categoriesListsContainer {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;

        // FROM FILTER.JS
        ul {
          list-style-type: none;

          li {
            padding: 0.75rem 1rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            text-transform: capitalize;
            font-weight: var(--font-normal-light);
            color: var(--text-color-dark);

            &:hover {
              color: var(--details-colour-secondary);
            }
          }
        }
      }

      // CATEGORIES DROPDOWN MENU
      #hideCategoryDropdown {
        display: none;
        @media only screen and (min-width: 1000px) {
          display: block;
        }
      }

      #showCategoryDropdown {
        display: block;
      }
    }
  }

  // INFO TAB WITH GRID SWITCH VIEW BUTTON
  .infoTabAndproductsList {
    display: flex;
    flex-direction: column;
    min-width: 35rem;
    width: 75%;
    @media only screen and (max-width: 1000px) {
      width: 100%;
      min-width: 0;
    }

    .infoTabContainer {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      align-items: center;

      .infoTabText {
        font-size: var(--normal-font-size);
        color: var(--text-colour-light);
      }

      .gridListIconsContainer {
        cursor: pointer;
        display: flex;

        div {
          @media only screen and (max-width: 680px) {
            display: none;
          }
        }
      }
    }

    // LIST OF ALL PRODUCTS
    .productsListContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .latestAdsGrid {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: auto;
        justify-content: center;

        @media only screen and (max-width: 680px) {
          flex-direction: column;
          align-items: center;
        }
      }

      .latestAdsColumn {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
    // PAGINATION
    .paginationBtn {
      margin: 3rem 0 1.5rem 0;
      display: flex;
      justify-content: center;
      width: 35rem;
      list-style-type: none;
      font-weight: var(--font-light-bold);

      li {
        margin-right: 2rem;
        cursor: pointer;
        outline: none;

        a {
          outline: none;
          padding: 0.6rem 0.9rem;
          box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
    var(--box-shadow-secondary) 0px 1px 2px 0px;
          border-radius: var(--border-radius-primary);
        }
      }
    }

    .paginationActivePage {
      color: var(--text-color-light);
      background: linear-gradient(
        to right,
        var(--details-colour-secondary),
        var(--details-colour-main)
      );
      padding: 0.6rem 0;
      margin-top: -0.6rem;
      border-radius: var(--border-radius-primary);
    }
  }
}

// SINGLE PRODUCT STYLING

// SINGLE ADD IN COLUMN VIEW
.singleAdCardColumn {
  display: flex;
  flex-direction: column;
  width: 47%;
  margin: 0.5rem;
  box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
    var(--box-shadow-secondary) 0px 1px 2px 0px;
  border-radius: var(--border-radius-primary);
  background: var(--background-color-content);
  text-decoration: none;

  .singleAdImageContainer {
    overflow: hidden;
    padding: 0.2rem;
    max-height: 17rem;
    min-height: 17rem;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: var(--border-radius-primary);
    }
  }

  @media only screen and (max-width: 680px) {
    flex-direction: column;
    width: 95%;
  }
}

// SINGLE ADD IN ROW VIEW

.singleAdCardRow {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0.5rem auto;
  box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
  var(--box-shadow-secondary) 0px 1px 2px 0px;
  border-radius: var(--border-radius-primary);
  background: var(--background-color-content);
  text-decoration: none;

  @media only screen and (max-width: 680px) {
    flex-direction: column;
  }

  .singleAdImageContainer {
    overflow: hidden;
    padding: 0.2rem;
    max-height: 18rem;
    width: 50%;
    min-height: 17rem;

    @media only screen and (max-width: 680px) {
      width: 100%;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 0.3rem;
    }
  }
}

.singleAdInfo {
  font-size: 0.85rem;
  padding: 1rem;
  width: 50%;
  @media only screen and (max-width: 680px) {
    width: 100%;
  }

  & > * {
    margin: 0.6rem 0.2rem;
  }

  .singleAdCategory {
    color: var(--text-color-dark-secondary);
    text-transform: uppercase;
  }

  .singleAdTitle {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--text-color-dark);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .singleAdNameLocation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--text-color-dark);

    & > * {
      display: flex;
      align-items: center;
    }

    .singleAdName,
    .singleAdLocation {
      text-transform: capitalize;
      span {
        margin-left: 0.3rem;
      }
    }

    .singleAdName {
      margin-right: 0.5rem;
    }
  }

  .singleAdNameDescription {
    line-height: 1.2rem;
    margin-top: 1rem;
    color: var(--text-color-dark-secondary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
