.searchBar {
  background-color: red;
  width: 60%;
}

.Header {
  background-color: rgb(32, 43, 70);
  height: 50vh;
  width: 100rem;
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}