@use "../../Styles.scss";

// * {
//   outline: 1px solid white;
// }

/* NAVIGATION BAR */

.navContainer {
  display: grid;
  grid-template-areas:
    "navLogo authButton authButton"
    "navList  navList navList  ";
  margin: 1rem 0;
  padding: 0 2rem;

  @media only screen and (max-width: 600px) {
    padding: 0 0.5rem ;
  }

  /* NAV LOGO */

  .navLogo {
    grid-area: navLogo;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    width: 7.5rem;

    img {
      width: 100%;
    }

    @media only screen and (max-width: 600px) {
      width: 5rem;
    }
  }

  /* NAV LINK PAGES */

  .navList {
    grid-area: navList;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    .navListItem {
      list-style-type: none;
      margin: 0 1rem;

      a {
        text-decoration: none;
        font-size: 1rem;
        color: var(--text-colour-main-light);
        text-transform: uppercase;
        font-weight: var(--font-light-bold);
        letter-spacing: 0.03rem;

        @media only screen and (max-width: 600px) {
          font-size: var(--small-font-size);
        }
      }
      @media only screen and (max-width: 600px) {
        margin: 0 0.5rem ;
      }
    }

    @media only screen and (max-width: 1000px) {
      margin-bottom: 2rem;
    }
  }

  /* SIGN IN / SIGN UP / USER INTERFACE BUTTONS */

  .authButton {
    grid-area: authButton;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .signIn,
    .postAnAd {
      padding: 0.5rem 1.1rem;
      margin: 0.5rem;
      text-decoration: none;
      color: white;

      @media only screen and (max-width: 600px) {
        padding: 0.4rem;
      }
    }

    .postAnAd {
      border-radius: var(--btn-border-radius);
      border: 3px solid #e52853;

      @media only screen and (max-width: 500px) {
        border: 2px solid #e52853;
      }
    }

    .userSectionDropdown {
      position: relative;
      z-index: 2;

      .userSectionDropdownBtn {
        @include Styles.btn-background;
        border-radius: 50%;
        text-decoration: none;
        padding: 0.45em 0.9rem;
        font-weight: 900;
        font-size: 1.2rem;
      }

      &:hover .userSectionLinks {
        display: block;
      }

      .userSectionLinks {
        display: none;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        list-style-type: none;
        background-color: white;
        right: 0;
        left: 0;
        width: 10rem;
        text-transform: capitalize;

        a:hover {
          color: var(--details-colour-secondary);
        }

        .listContainer {
          color: black;
          padding: 0.8rem 1rem;
          text-decoration: none;
          display: block;
          border-bottom: 0.1rem solid rgba(128, 128, 128, 0.16);
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          svg {
            margin-right: 0.5rem;
          }
        }
      }

      .userLogoutBtn {
        @include Styles.btn-background;
        font-size: 0.8rem;
        margin-left: 1rem;
      }
    }
  }
}
