@use "../../Styles.scss";

.adDetailsSection {
  padding: 2rem;
  background-color: var(--background-color-main);

  @media only screen and (max-width: 500px) {
    padding: 1rem;
  }
}

.adDetailsSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: var(--background-color-main);
}

.adDetailsContainer {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media only screen and (max-width: 800px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 40em;
  }

  .adDetailsCard {
    width: 65%;
    position: relative;

    @media only screen and (max-width: 800px) {
      width: 100%;
    }

    .swiper {
      width: 100%;
      height: 30rem;
      border-radius: var( --border-radius-primary);
      box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
        var(--box-shadow-secondary) 0px 1px 2px 0px;
      margin-bottom: 1.3rem;

      @media only screen and (max-width: 1100px) {
        height: 25rem;
      }

      @media only screen and (max-width: 900px) {
        height: 22rem;
      }

      @media only screen and (max-width: 500px) {
        height: 15rem;
        margin-bottom: 0.7rem;
      }

      .swiper-slide {
        text-align: center;
        background-color: var(--background-color-dark);

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .adDetailsInfo {
      box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
        var(--box-shadow-secondary) 0px 1px 2px 0px;
        border-radius: var(--border-radius-primary);
        background-color: var(--background-color-content);
      padding: 1.5rem;

      & > *:not(:last-child) {
        margin-bottom: 0.9rem;
      }

      h1 {
        color: var(--text-color-dark);
        font-size: var(--h1-font-size);
        font-weight: var(--font-medium-bold);
        text-transform: capitalize;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        @media only screen and (max-width: 500px) {
          font-size: var(--h3-font-size);
        }
      }

      .adDetailsLocationCategory {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        & > * {
          display: flex;
          align-items: center;
          margin: 0 1.2rem 0.5rem 0;
        }

        .adDetailsCategory,
        .adDetailsLocation,
        .adDetailsFavoriteNumber {
          color: var(--text-color-dark-secondary);
          text-transform: capitalize;
          span {
            margin-left: 0.7rem;
          }
        }

        .FavoriteNumber {
          font-weight: 600;
          color: rgb(49, 49, 49);
        }
      }

      h3 {
        color: var(--text-color-dark);
        font-weight: var(--font-medium-bold);
        text-transform: capitalize;
        font-size: var(--h4-font-size);
        margin-top: 0.5rem;
      }

      p {
        line-height: 1.5rem;
        letter-spacing: 0.01rem;
        color: var(--text-color-dark-secondary);
      
      }
    }
  }

  .userAdCard {
    width: 33%;

    @media only screen and (max-width: 800px) {
      width: 100%;
      margin-top: 1.3rem;
    }

    @media only screen and (max-width: 500px) {
      margin-top: 0.7rem;
    }

    .userAdAvatar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 1.5rem 1rem;
      border-radius: var(--border-radius-primary);
      box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
        var(--box-shadow-secondary) 0px 1px 2px 0px;

      .userAdAvatarImage {
        max-width: 6rem;
        max-height: 6rem;
        border-radius: 50%;
        overflow: hidden;
        border: 0.2rem solid var(--details-colour-secondary);
        margin-bottom: 1rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .userAdAvatarName {
        color: var(--text-color-dark-secondary);

        span {
          display: inline-block;
          text-transform: capitalize;
          color: var(--text-color-dark);
          font-weight: var(--font-medium-bold);
          margin-left: 0.3rem;
        }
      }
    }

    .userAdContactForm {
      background-color: var(--background-color-content);
      margin-top: 1.3rem;
      padding: 2rem 1rem 1rem 1rem;
      border-radius: var(--border-radius-primary);
      box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
        var(--box-shadow-secondary) 0px 1px 2px 0px;

      @media only screen and (max-width: 500px) {
        margin-top: 0.7rem;
      }

      .userAdContactSuccess {
        padding-bottom: 2rem;
        h3 {
          margin-top: 1rem;
          font-weight: var(--font-medium-bold);
          color: var(--text-color-dark);
          font-size: var(--h4-font-size);
        }
      }

      h3 {
        text-align: center;
        color: var(--text-color-dark);
        font-size: 1.1rem;
      }

      form {
        display: flex;
        flex-direction: column;
        max-width: 19rem;
        padding: 1rem;
        margin: 0 auto;

        div {
          position: relative;

          label {
            color: var(--text-color-light-secondary);
            position: absolute;
            pointer-events: none;
            left: 0.8rem;
            top: 1.2rem;
            transition: 0.3s ease all;
            -moz-transition: 0.3s ease all;
            -webkit-transition: 0.3s ease all;
          }
          input,
          textarea {
            color: var(--text-colour-light);
            margin: 0.3rem 0;
            padding: 0.8rem;
            width: 100%;
            border: 0.1rem solid var(--border-color-secondary);
            border-radius: var(--border-radius-primary);
            font-family: var(--title-font);
            font-size: var(--normal-font-size);
            
            &:focus {
              outline: none;
              border: 0.1rem solid var(--details-colour-secondary);
            }
            &:active {
              border: 0.1rem solid var(--details-colour-secondary);
              outline: none;
            }

            &:focus ~ label,
            &:valid ~ label {
              top: -0.2rem;
              font-size: 0.7rem;
              background-color: var(--background-color-content);
              padding: 0 0.4rem;
            }

            &:focus ~ label {
              color: var(--details-colour-secondary);
            }

            &:valid ~ label {
              color: rgb(0, 187, 0);
            }
            &:valid {
              border: 0.1rem solid var(--border-color-secondary);
            }
          }
        }
        .adSubmitButton {
          @include Styles.btn-background;
          width: 6rem;
          margin: 0.7rem auto 0 auto;
        }
      }
    }
  }
}

// FAVORITE BUTTON STYLING

.favoriteContainer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.8rem;
  background-color: transparent;
  border-radius: var(--border-radius-primary);
  background-color: var(--background-color-content);
  padding: 0.6rem 1rem;
  z-index: 5;
  transition: 0.1s;
  border: 0.01rem solid var(--border-color-primary);

  &:active {
    transform: scale(0.93);
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: inherit;

    span {
      font-size: 0.9rem;
      color: rgb(41, 41, 41);
      font-weight: 500;
      margin-left: 0.3rem;
      margin-right: 0.1rem;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 0.02rem;
    }
  }
}
