.userNavbar {
  max-width: 15rem;
  min-width: 15rem;
  margin-right: 1.5rem;

  @media only screen and (max-width: 800px) {
    max-width: 30rem;
    width: 100%;
    margin: 0;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    background: var(--background-color-dark);
    box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
      var(--box-shadow-secondary) 0px 1px 2px 0px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        hsla(0, 0%, 0%, 0.822),
        hsla(0, 0%, 7%, 0.726)
      ),
      url("./abstract-background.jpg");

    // background-image: linear-gradient(
    //   hsla(334, 83%, 48%, 0.658),
    //   hsla(0, 80%, 57%, 0.76)
    // ), url("./abstract-background.jpg");

    .userImage-gradientBorder {
      border-radius: 50%;
      padding: 0.2rem;
      margin-bottom: 0.7rem;
      // background: white;
      background: linear-gradient(
        to right,
        var(--details-colour-secondary),
        var(--details-colour-main)
      );

      .userImage {
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 50%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .userName {
      color: var(--text-color-light);
      span {
        font-weight: var(--font-medium-bold);
        text-transform: capitalize;
      }
    }
  }

  .userSectionLinks {
    li {
      list-style-type: none;
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: flex;
        text-decoration: none;
        color: var(--text-color-dark);
        width: 100%;
        font-size: var(--normal-font-size);
        text-transform: capitalize;
        padding: 1rem;
        border-radius: var(--border-radius-primary);
        background: var(--background-color-content);
        box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
          var(--box-shadow-secondary) 0px 1px 2px 0px;

        span {
          margin-left: 1rem;
        }
      }

      .activeSection {
        background: var(--background-color-dark-secondary);
        color: var(--text-color-light);
        border: 1px solid var(--border-color-primary);
      }
    }
  }
}
