@use "../../../../Styles.scss";

.userProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    @include Styles.btn-background;
    margin-top: 2rem;
    width: 7rem;
  }
}

.profilePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  .profilePageAvatar {
    position: relative;

    .loadingAvatar {
      position: absolute;
      top: 0.2rem;
      right: 0.2rem;
      overflow: hidden;
      width: 3rem;
      border-radius: 50%;
      height: 3rem;
      background: linear-gradient(
        to right,
        var(--details-colour-secondary),
        var(--details-colour-main)
      );
      text-transform: uppercase;
      color: var(--text-color-light);
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
    }

    .profileAvatar {
      border-radius: 50%;
      overflow: hidden;
      width: 12rem;
      height: 12rem;
      margin-bottom: 1.5rem;

      .imageAvatar {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }

      .profilePageAvatarSpan {
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;
        overflow: hidden;
        width: 3rem;
        border-radius: 50%;
        height: 3rem;
        background: linear-gradient(
          to right,
          var(--details-colour-secondary),
          var(--details-colour-main)
        );
        text-transform: uppercase;
        color: var(--text-color-light);
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        .fileUp {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
  }

  .colRight {
    margin-left: 2rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    @media only screen and (max-width: 800px) {
      margin-left: 0;
    }
    div {
      position: relative;

      label {
        color: var(--text-color-dark-secondary);
        position: absolute;
        pointer-events: none;
        top: -0.2rem;
        left: 1rem;
        background-color: var(--background-color-content);
        padding: 0rem 0.3rem;
        font-size: 0.7rem;
        transition: 0.3s ease all;
        -moz-transition: 0.3s ease all;
        -webkit-transition: 0.3s ease all;
      }
      input,
      textarea {
        color: var(--text-color-dark);
        margin: 0.3rem 0;
        padding: 0.8rem;
        width: 100%;
        border: 0.1rem solid var(--border-color-primary);
        border-radius: var(--border-radius-primary);

        &:focus {
          outline: none;
          border: 0.1rem solid var(--details-colour-secondary);
        }
        &:active {
          border: 0.1rem solid var(--details-colour-secondary);
          outline: none;
        }
        &:focus ~ label {
          color: var(--details-colour-secondary);
        }
      }
    }
  }
}
