@use "../../Styles.scss";
@import "toastr";

.footerContainer {
  background-color: var(--background-color-dark);

  @media only screen and (max-width: 350px) {
    width: 100%;
  }

  .footerInputContainer {

    .footerLogoContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      margin: 0rem 3rem;
      border-bottom: solid 2px var(--details-color-gray);

      @media only screen and (max-width: 1000px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        margin: 0;
      }

      .footerLogo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 7.5rem;

          @media only screen and (max-width: 600px) {
            padding-top: 1rem;
            width: 6.5rem;
          }
        }
      }

      .footerAddress,
      .footerPhone,
      .footerEmail {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0 1rem 0;
        color: var(--text-color-light);

        h3 {
          font-weight: var(--font-normal-light);
          font-size: 0.9rem;
        }

        .icon {
          color: var(--details-colour-main);
          font-size: var(--h3-font-size);
          margin-right: 0.7rem;
        }
      }
    }

    .footerDetailsContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1rem 3rem 4rem 3rem;

      @media only screen and (max-width: 1000px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
      }

      .footerDetailsTips,
      .footerDetailsLinks,
      .footerDetailsApps,
      .footerDetailsSubscribe {
        & h3 {
          color: var(--text-color-light);
          font-weight: var(--font-light-bold);
          margin: 0.8rem 0;
        }

        & ul {
          & li {
            list-style: none;
            margin: 0.25rem 0;

            & a {
              color: var(--text-color-light);
              text-decoration: none;
              font-weight: var(--font-normal-light);

              &:hover {
                color: var(--details-colour-main);
              }
            }
          }
        }

        @media only screen and (max-width: 1000px) {
          display: flex;
          flex-direction: column;
        }
      }

      .footerDetailsTips,
      .footerDetailsLinks,
      .footerDetailsApps {
        @media only screen and (max-width: 1000px) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .footerDetailsApps,
      .footerDetailsSubscribe {
        display: flex;
        flex-direction: column;

        & span {
          color: var(--text-color-light);
          margin: 0.5rem 0;
        }

        .footerDetailsSubscribeInput {
          background-color: var(--background-color-content);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-radius: var(--border-radius-primary);
          margin: 0.2rem 1rem 0.5rem 0;

          input {
            padding-left: 1rem;
            padding-bottom: 0.1rem;
            outline: none;
            border: none;
            width: 100%;
            background-color: transparent;
          }

          button {
            @include Styles.btn-background;
            padding: 0.5rem 0.6rem 0.35rem 0.5rem;
            margin: 0.3rem;
            border-radius: 50%;
          }
        }
      }

      .footerDetailsApps {
        & a {
          margin: 0.25rem 0;
        }
      }
    }

    .footerSocialMedia {
      display: flex;
      flex-direction: row;
      justify-content: center;

      & a {
        color: var(--text-color-light);

        &:hover {
          color: var(--details-colour-main);
          cursor: pointer;
        }

        &:hover .footerSocialMediaFacebook,
        &:hover .footerSocialMediaInstagram,
        &:hover .footerSocialMediaLinkedin,
        &:hover .footerSocialMediaGithub {
          border: 0.15rem solid var(--details-colour-main);
        }

        @media only screen and (max-width: 600px) {
          place-self: center;
        }
      }

      @media only screen and (max-width: 600px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .footerSocialMediaFacebook,
      .footerSocialMediaInstagram,
      .footerSocialMediaLinkedin,
      .footerSocialMediaGithub {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        border: 0.1rem solid var(--border-color-primary);
      }
    }

    .footerCopyright {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: var(--text-color-light);
      padding-bottom: 1rem;

      & a {
        color: var(--text-color-light);
        text-decoration: none;

        &:hover {
          color: var(--details-colour-main);
        }
      }
    }
  }
}