@use "../../../Styles.scss";

.signInContainer {
  display: flex;
  justify-content: flex-end;

  a {
    padding: 0.5rem;
    background-color: white;
    text-decoration: none;
    color: black;
  }
}

.userSectionDropdown {
  position: relative;

  .userSectionDropdownBtn {
    @include Styles.btn-background;
    border-radius: 50%;
    text-decoration: none;
    padding: 0.45em 0.9rem;
    font-weight: 900;
    font-size: 1.2rem;
  }

  &:hover .userSectionLinks {
    display: block;
  }

  .userSectionLinks {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    background-color: white;
    right: 0;
    left: 0;
    width: 10rem;
    text-transform: capitalize;

    a:hover {
      color: var(--details-colour-secondary);
    }

    .listContainer {
      color: black;
      padding: 0.8rem 1rem;
      text-decoration: none;
      display: block;
      border-bottom: 0.1rem solid rgba(128, 128, 128, 0.16);
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      svg {
        margin-right: 0.5rem;
      }
    }
  }

  .userLogoutBtn {
    @include Styles.btn-background;
    font-size: 0.8rem;
    margin-left: 1rem;
  }
}
