.userInterface {
  display: flex;
  max-width: 60rem;
  margin: 12rem auto 6rem auto;

  .userSections {
    width: 100%;
    padding: 1.5rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
  }
}
