.userSection {
  background-color: var(--background-color-main);
  padding: 2rem;

  @media only screen and (max-width: 800px) {
    padding: 1rem;
  }

  .userInterface {
    display: flex;
    max-width: 65rem;
    margin: 0 auto;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .userSections {
      width: 100%;
      padding: 1rem 0 2rem 0;
      border-radius: 0.5rem;
      background: var(--background-color-content);
      box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
        var(--box-shadow-secondary) 0px 1px 2px 0px;

      @media only screen and (max-width: 800px) {
        margin-top: 1rem;
        max-width: 30rem;
      }

      h2 {
        text-align: center;
        font-size: var(--h3-font-size);
        text-transform: uppercase;
        color: var(--text-color-dark-secondary);
        margin: 0.3rem 0;
      }

      .titleUnderline {
        height: 0.06rem;
        width: 100%;
        background-color: var(--background-color-main);
        margin: 1rem auto 2rem auto;
      }
    }
  }
}
