@use "../../Styles.scss";

.authorizationSection {
  background-color: var(--background-color-main);
  padding: 2rem 1rem;

  .authContainer {
    background: var(--background-color-content);
    border-radius: var(--border-radius-primary);
    box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
      var(--box-shadow-secondary) 0px 1px 2px 0px;
    overflow: hidden;
    max-width: 55rem;
    width: 100%;
    margin: 0 auto;

    .form-container {
      position: absolute;
      top: 0;
      height: 100%;
      transition: all 0.6s ease-in-out;

      form {
        background: var(--background-color-content);
        display: flex;
        flex-direction: column;
        padding: 0 3rem;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
          margin-bottom: 1rem;
          font-size: var(--h2-font-size);
          color: var(--text-color-dark);
        }

        div {
          position: relative;
          width: 90%;
          margin-bottom: 0.5rem;

          label {
            color: var(--text-color-light-secondary);
            position: absolute;
            pointer-events: none;
            left: 0.8rem;
            top: 1rem;
            transition: 0.3s ease all;
            -moz-transition: 0.3s ease all;
            -webkit-transition: 0.3s ease all;
          }
          input {
            color: var(--text-colour-light);
            margin: 0.3rem 0;
            padding: 0.8rem;
            width: 100%;
            border: 0.1rem solid var(--border-color-primary);
            border-radius: var(--border-radius-primary);

            &:focus {
              outline: none;
              border: 0.1rem solid var(--details-colour-secondary);
            }
            &:active {
              border: 0.1rem solid var(--details-colour-secondary);
              outline: none;
            }

            &:focus ~ label,
            &:valid ~ label {
              top: -0.2rem;
              font-size: 0.7rem;
              background-color: var(--background-color-content);
              padding: 0 0.4rem;
            }

            &:focus ~ label {
              color: var(--details-colour-secondary);
            }

            &:valid ~ label {
              color: var(--text-color-valid);
            }
            &:valid {
              border: 0.1rem solid var(--border-color-primary);
            }
          }
        }

        button {
          @include Styles.btn-background;
          margin-top: 1rem;
          box-shadow: var(--box-shadow-primary) 0px 6px 12px -2px,
            var(--box-shadow-secondary) 0px 3px 7px -3px;
        }

        .forgotPasswordLink {
          margin-top: 1rem;
          text-align: center;
          font-size: var(--normal-font-size);
        }
      }
      .userAgreement {
        @media only screen and (max-width: 700px) {
          width: 80%;
          margin: auto;
          text-align: center;
        }
      }
    }

    .sign-in-container {
      left: 0;
      width: 50%;
      z-index: 2;
    }

    .sign-in-container a {
      width: 100%;
      text-decoration: none;
      text-align: right;
      cursor: pointer;
      color: var(--text-colour-dark);
      font-weight: var(--font-medium-bold);
      padding: 0.25rem 0 0.25rem 0.25rem;
    }

    .sign-in-container a:hover {
      color: var(--details-colour-secondary);
    }

    .sign-up-container {
      left: 0;
      width: 50%;
      opacity: 0;
      z-index: 1;
      form {
        input:first-of-type {
          display: inline-block;
        }
      }
    }

    .overlay-container {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: transform 0.6s ease-in-out;
      z-index: 100;
      h1 {
        font-size: var(--h2-font-size);
      }

      .overlay {
        background-image: linear-gradient(
            hsla(0, 0%, 0%, 0.829),
            hsla(0, 4%, 28%, 0.712)
          ),
          url("./random-image.jpg");
        background-position: center;
        background-size: cover;
        color: var(--text-color-light);
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
      }

      .overlay-panel {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 3rem;
        height: 100%;
        width: 50%;
        text-align: center;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;

        p {
          font-size: var(--normal-font-size);
          letter-spacing: 0.03rem;
          line-height: 1.25rem;
          margin: 1.25rem 0 1.875rem;
        }

        button {
          background: linear-gradient(to right, black, rgb(43, 43, 43));
          padding: 0.6rem 1.2rem;
          color: var(--text-color-light);
          font-size: var(--normal-font-size);
          letter-spacing: 0.06rem;
          border: none;
          border-radius: var(--btn-border-radius);
          text-transform: uppercase;
          transition: transform 80ms ease-in;
          cursor: pointer;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

          &:active {
            transform: scale(0.9);
          }
        }
      }

      .overlay-right {
        right: 0;
        transform: translateX(0);
      }

      .overlay-left {
        transform: translateX(-20%);
      }
    }

    /* Animations */

    /* Move sign in to the right */
    &.right-panel-active .sign-in-container {
      transform: translateX(50%);
    }

    /* Move overlay to the left */
    &.right-panel-active .overlay-container {
      transform: translateX(-100%);
    }

    /* Bring sign up over sign in */
    &.right-panel-active .sign-up-container {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
    }

    /* Move overlay back to the right */
    &.right-panel-active .overlay {
      transform: translateX(50%);
    }

    &.right-panel-active .overlay-left {
      transform: translateX(0);
    }

    &.right-panel-active .overlay-right {
      transform: translateX(20%);
    }
  }
}
