@use "../../Styles.scss";

.authorizationSection {
  background-color: #F4F4F4;
  padding: 2rem 1rem;


.authContainer {
  background: white;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  
  overflow: hidden;
  max-width: 55rem;
  width: 100%;
  margin: 0 auto;

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;

    form {
      background: #fff;
      display: flex;
      flex-direction: column;
      padding: 0 3rem;
      height: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;

      h1 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: rgb(43, 43, 43);
      }

      button {
        @include Styles.btn-background;
        margin-top: 1rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      }

      .forgotPasswordLink {
        margin-top: 1rem;
        text-align: center;
        font-size: 0.9rem;
      }
    }

    input {
      margin: 0.3rem 0;
      padding: 0.8rem;
      width: 100%;
      border: 1px solid lightgray;
      border-radius: 0.3rem;

      &:focus {
        border: 1px solid #e20f55;
        outline: none;
      }
    }
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .sign-in-container a {
    width: 100%;
    text-decoration: none;
    text-align: right;
    cursor: pointer;
    color: var(--text-colour-main);
    font-weight: var(--font-medium-bold);
    padding: 0.25rem 0 0.25rem 0.25rem;
  }

  .sign-in-container a:hover {
    color: var(--details-colour-main);
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    form {
      input:first-of-type {
        display: inline-block;
      }
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
    h1 {
      font-size: 1.5rem;
    }

    .overlay {
      background-image: linear-gradient(
          hsla(0, 0%, 0%, 0.829),
          hsla(0, 4%, 28%, 0.712)
        ),
        url("./random-image.jpg");
      background-position: center;
      background-size: cover;
      color: #fff;
      position: relative;
      left: -100%;
      height: 100%;
      width: 200%;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;
    }

    .overlay-panel {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 3rem;
      height: 100%;
      width: 50%;
      text-align: center;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;

      p {
        font-size: 0.9rem;
        letter-spacing: 0.03rem;
        line-height: 1.25rem;
        margin: 1.25rem 0 1.875rem;
      }

      button {
        background: linear-gradient(to right, black, rgb(43, 43, 43));
        padding: 0.6rem 1.2rem;
        color: var(--text-colour-main-light);
        font-size: 0.9rem;
        letter-spacing: 0.06rem;
        border: none;
        border-radius: var(--btn-border-radius);
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        cursor: pointer;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        &:active {
          transform: scale(0.9);
        }
      }
    }

    .overlay-right {
      right: 0;
      transform: translateX(0);
    }

    .overlay-left {
      transform: translateX(-20%);
    }
  }

  /* Animations */

  /* Move sign in to the right */
  &.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  /* Move overlay to the left */
  &.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  /* Bring sign up over sign in */
  &.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
  }

  /* Move overlay back to the right */
  &.right-panel-active .overlay {
    transform: translateX(50%);
  }

  &.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  &.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
}

}