.adsByUserContainer {
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
  @media only screen and (max-width: 545px) {
    flex-direction: column;
  }

  .adsByUserList {
    display: flex;
    list-style-type: none;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    text-transform: capitalize;

    li {
      font-size: 0.8rem;
      margin: 0 0.5rem;
      font-weight: 300;
    }

    .adsByUserInfoContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      @media only screen and (max-width: 900px) {
        flex-direction: column;
        align-items: flex-start;
      }
      .listItemSubContainer {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        @media only screen and (max-width: 700px) {
          flex-direction: column;
        }
      }
      .adsByUserBtnContainer {
        display: flex;
        flex-direction: row;
        @media only screen and (max-width: 500px) {
          width: 90%;
          justify-content: space-evenly;
        }

        button,
        a {
          padding: 0 0.3rem;
          margin: 0 0.3rem;
          border: none;
          background: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          color: rgb(75, 75, 75);
          text-decoration: none;
          justify-content: center;
          font-size: 0.8rem;
          color: var(--text-colour-light);
          @media only screen and (max-width: 500px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

          &:hover {
            color: var(--details-colour-secondary);
          }

          svg {
            margin: 0 0.3rem;
          }

          span {
            text-transform: capitalize;
            @media only screen and (max-width: 500px) {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
