@use "../../../../Styles.scss";


.noAdsSpan {
  display: block;
  text-align: center;
  color: var(--text-color-dark-secondary);
}

// AD EDITED SUCCESSFULLY

.adEditedSuccessContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;

  & > * {
    margin-bottom: 1.3rem;
  }

  h3 {
    font-size: var(--h3-font-size);
    color: var(--text-color-dark-secondary);
  }

  span {
    cursor: pointer;
    font-weight: var(--font-light-bold);
    color: var(--text-color-dark-secondary);
  }
}

.EditAdtitleUnderline {
  height: 0.06rem;
  width: 100%;
  background-color: var(--background-color-main);
}

.backToMyAds {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0 0.7rem 1.7rem;
  span {
    cursor: pointer;
  }
 }


// AD EDITING FORM

.editAdFormContainer {
  max-width: 23rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;

  .editAdImageContainer {
    height: 12rem;
    width: 100%;;
    margin: 0 auto;
    overflow: hidden;
    border-radius: var(--border-radius-primary);
    margin: 0.2rem 0;
  
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      width: 100%;
      position: relative;

      label {
        color: rgb(130, 130, 130);
        position: absolute;
        pointer-events: none;
        top: -0.2rem;
        left: 1rem;
        background-color: var(--background-colour-main);
        padding: 0rem 0.3rem;
        font-size: 0.7rem;
        transition: 0.3s ease all;
        -moz-transition: 0.3s ease all;
        -webkit-transition: 0.3s ease all;
      }
      input,
      textarea {
        color: var(--text-colour-light);
        margin: 0.3rem 0;
        padding: 0.8rem;
        width: 100%;
        border: 0.1rem solid lightgray;
        border-radius: 0.3rem;

        &:focus {
          outline: none;
          border: 0.1rem solid var(--details-colour-secondary);
        }
        &:active {
          border: 0.1rem solid var(--details-colour-secondary);
          outline: none;
        }
        &:focus ~ label {
          color: var(--details-colour-secondary);
        }
      }
    }
  
    button {
      @include Styles.btn-background;
      margin: 1rem auto 0 auto;
      width: 7rem;
    }
  }

}