.latestAdCard {
  grid-column-end: span 4;
  text-decoration: none;
  background-color: var(--background-color-content);
  border-radius: 0.3rem;
  padding: 0.3rem;
  box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
          var(--box-shadow-secondary) 0px 1px 2px 0px;

  @media only screen and (max-width: 750px) {
    grid-column-end: span 6;
  }
}

.latestAdImageContainer {
  overflow: hidden;
  height: 15rem;
  width: 100%;
  border-radius: var(--border-radius-primary);
  
  
  @media only screen and (max-width: 1200px) {
    height: 14rem;
  }

  @media only screen and (max-width: 1100px) {
    height: 13rem;
  }

  @media only screen and (max-width: 1000px) {
    height: 12rem;
  }

  @media only screen and (max-width: 900px) {
    height: 10rem;
  }

  @media only screen and (max-width: 750px) {
    height: 12rem;
  }

  @media only screen and (max-width: 650px) {
    height: 11rem;
  }

  @media only screen and (max-width: 550px) {
    height: 10rem;
  }

  @media only screen and (max-width: 470px) {
    height: 9rem;
  }

  @media only screen and (max-width: 380px) {
    height: 8rem;
  }

  @media only screen and (max-width: 350px) {
    height: 7rem;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.latestAdInfo {
  padding-top: 1rem;
  padding-left: 0.5rem;

  @media only screen and (max-width: 820px) {
    font-size: 0.8rem;
  }


  & > * {
    margin: 0.6rem 0.2rem;
  }

  .latestAdCategory {
    color: var(--text-color-dark-secondary);
    text-transform: uppercase;
  }

  .latestAdTitle {
    text-transform: uppercase;
    color: var(--text-color-dark);
  }

  .latestAdTimeLocation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--text-color-dark);
    

    & > * {
      display: flex;
      align-items: center;
    }

    .latestAdTime,
    .latestAdLocation {
      text-transform: capitalize;
      margin-bottom: 0.3rem;
      span {
        margin-left: 0.3rem;
        
      }
    }

    .latestAdTime {
      margin-right: 0.5rem;
      
    }
  }

  .latestAdDescription {
    line-height: 1.2rem;
    color: var(--text-color-dark-secondary); 
     
  }
}