.latestAdCard {
  grid-column-end: span 4;

  @media only screen and (max-width: 63rem) {
    grid-column-end: span 6;
  }
}

.latestAdImageContainer {
  overflow: hidden;
  max-height: 15rem;
  border-radius: 0.7rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.latestAdInfo {
  font-size: 0.85rem;
  padding-top: 1rem;

  & > * {
    margin: 0.6rem 0.2rem;
  }

  .latestAdCategory {
    color: var(--text-colour-light);
  }

  .latestAdTitle {
    font-size: 1rem;
  }

  .latestAdNameLocation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > * {
      display: flex;
      align-items: center;
    }

    .latestAdName,
    .latestAdLocation {
      span {
        margin-left: 0.3rem;
      }
    }

    .latestAdName {
      margin-right: 0.5rem;
    }
  }

  .latestAdNameDescription {
    line-height: 1.2rem;
    color: var(--text-colour-light);
  }
}
