@keyframes ldio-ikcwh96k35h {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-ikcwh96k35h div > div {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #df0161;
  animation: ldio-ikcwh96k35h 1.25s linear infinite;
}
.ldio-ikcwh96k35h div:nth-child(1) > div {
  left: 76px;
  top: 46px;
  animation-delay: -1.1458333333333333s;
}
.ldio-ikcwh96k35h > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 80px 50px;
}
.ldio-ikcwh96k35h div:nth-child(2) > div {
  left: 72px;
  top: 61px;
  animation-delay: -1.0416666666666665s;
}
.ldio-ikcwh96k35h > div:nth-child(2) {
  transform: rotate(30deg);
  transform-origin: 76px 65px;
}
.ldio-ikcwh96k35h div:nth-child(3) > div {
  left: 61px;
  top: 72px;
  animation-delay: -0.9374999999999999s;
}
.ldio-ikcwh96k35h > div:nth-child(3) {
  transform: rotate(60deg);
  transform-origin: 65px 76px;
}
.ldio-ikcwh96k35h div:nth-child(4) > div {
  left: 46px;
  top: 76px;
  animation-delay: -0.8333333333333333s;
}
.ldio-ikcwh96k35h > div:nth-child(4) {
  transform: rotate(90deg);
  transform-origin: 50px 80px;
}
.ldio-ikcwh96k35h div:nth-child(5) > div {
  left: 31px;
  top: 72px;
  animation-delay: -0.7291666666666665s;
}
.ldio-ikcwh96k35h > div:nth-child(5) {
  transform: rotate(120deg);
  transform-origin: 35px 76px;
}
.ldio-ikcwh96k35h div:nth-child(6) > div {
  left: 20px;
  top: 61px;
  animation-delay: -0.6249999999999999s;
}
.ldio-ikcwh96k35h > div:nth-child(6) {
  transform: rotate(150deg);
  transform-origin: 24px 65px;
}
.ldio-ikcwh96k35h div:nth-child(7) > div {
  left: 16px;
  top: 46px;
  animation-delay: -0.5208333333333333s;
}
.ldio-ikcwh96k35h > div:nth-child(7) {
  transform: rotate(180deg);
  transform-origin: 20px 50px;
}
.ldio-ikcwh96k35h div:nth-child(8) > div {
  left: 20px;
  top: 31px;
  animation-delay: -0.41666666666666663s;
}
.ldio-ikcwh96k35h > div:nth-child(8) {
  transform: rotate(210deg);
  transform-origin: 24px 35px;
}
.ldio-ikcwh96k35h div:nth-child(9) > div {
  left: 31px;
  top: 20px;
  animation-delay: -0.31249999999999994s;
}
.ldio-ikcwh96k35h > div:nth-child(9) {
  transform: rotate(240deg);
  transform-origin: 35px 24px;
}
.ldio-ikcwh96k35h div:nth-child(10) > div {
  left: 46px;
  top: 16px;
  animation-delay: -0.20833333333333331s;
}
.ldio-ikcwh96k35h > div:nth-child(10) {
  transform: rotate(270deg);
  transform-origin: 50px 20px;
}
.ldio-ikcwh96k35h div:nth-child(11) > div {
  left: 61px;
  top: 20px;
  animation-delay: -0.10416666666666666s;
}
.ldio-ikcwh96k35h > div:nth-child(11) {
  transform: rotate(300deg);
  transform-origin: 65px 24px;
}
.ldio-ikcwh96k35h div:nth-child(12) > div {
  left: 72px;
  top: 31px;
  animation-delay: 0s;
}
.ldio-ikcwh96k35h > div:nth-child(12) {
  transform: rotate(330deg);
  transform-origin: 76px 35px;
}
.loadingio-spinner-spin-k4j87yooba {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-ikcwh96k35h {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ikcwh96k35h div {
  box-sizing: content-box;
}
