@use "../../../Styles.scss";

.latestAdsTitle {
  margin: 2.5rem 0;

  & h2 {
    text-align: center;
    text-transform: capitalize;
    color: var(--background-colour-dark-gray);
    &::after,
    &::before {
      display: inline-block;
      content: "";
      border-top: 0.2rem solid var(--details-colour-main);
      width: 4rem;
      margin: 0 1rem;
      transform: translateY(-0.4rem);
    }
  }
}

.latestAdsContainer {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 4rem)) 1fr;
  grid-gap: 2.5rem;

  @media only screen and (max-width: 1200px) {
    grid-gap: 2rem;
  }

  @media only screen and (max-width: 1100px) {
    grid-gap: 1.5rem;
  }

  @media only screen and (max-width: 900px) {
    grid-gap: 1rem;
  }

  @media only screen and (max-width: 550px) {
    grid-gap: 0.7rem;
  }

  @media only screen and (max-width: 450px) {
    grid-gap: 0.5rem;
  }
}

.latestAds {
  display: grid;
  grid-column: 2 / span 12;
  grid-template-columns: repeat(12, minmax(auto, 6rem));
  grid-gap: 1rem;

  @media only screen and (max-width: 550px) {
    grid-gap: 0.7rem;
  }

  @media only screen and (max-width: 450px) {
    grid-gap: 0.5rem;
  }
}

.moreAdsButtonContainer {
  text-align: center;
  margin: 2rem 0 3rem 0;

  a {
    @include Styles.btn-background;
    background: linear-gradient(to right, black, rgb(43, 43, 43));
    text-decoration: none;
  }
}
