@use "../../../../Styles.scss";

.postAdHeader {
  padding-bottom: 1rem;
}

.postAdForm {
  display: flex;
  flex-direction: column;

  & > * {
    margin: 0.3rem 0;
    padding: 0.8rem;
    border: 1px solid lightgray;
    border-radius: 0.3rem;
    font-family: var(--title-font);
    font-size: var(--small-font-size);

    &:focus {
      border: 1px solid #e20f55;
      outline: none;
    }
  }

  .adSubmitButton {
    @include Styles.btn-background;
    width: 8rem;
    margin: 1.5rem auto 0 auto;
    font-size: 0.9rem;
  }
}
