.postAdHeader {
  padding-bottom: 1rem;
}

.postAdForm {
  display: flex;
  flex-direction: column;

  & > * {
    margin: 0.3rem 0;
    padding: 0.8rem;
    border: 1px solid lightgray;
    font-family: var(--title-font);
    font-size: var(--small-font-size);

    &:focus {
      border: 1px solid #e20f55;
      outline: none;
    }
  }

  .adSubmitButton {
    cursor: pointer;
  }
}
