@use "../../../../Styles.scss";

.postAdHeader {
  text-align: center;
  margin-bottom: 1rem;
}

.userPostAdSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postAdForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 23rem;
  width: 100%;
  padding: 0 2rem;

  select {
    width: 100%;
    background-color: var(--background-color-main);
    border: none;
    outline: none;
    height: 1.8rem;
    margin: 0.3rem 0;
    padding-left: 0.7rem;
    color: var(--text-color-dark-secondary);
  }

  input {
    width: 100%;
    padding: 0.5rem;
    border: 0.1rem solid var(--border-color-primary);
    border-radius: var(--border-radius-primary);
    margin: 0.3rem 0;
  }

  div {
    width: 100%;
    position: relative;

    label {
      color: var(--text-color-light-secondary);
      position: absolute;
      pointer-events: none;
      left: 0.8rem;
      top: 1rem;
      transition: 0.3s ease all;
      -moz-transition: 0.3s ease all;
      -webkit-transition: 0.3s ease all;
    }
    input,
    textarea {
      color: var(--text-colour-light);
      margin: 0.3rem 0;
      padding: 0.8rem;
      width: 100%;
      border: 0.1rem solid var(--border-color-primary);
      border-radius:var(--border-radius-primary);
      font-family: var(--title-font);
      font-size: var(--normal-font-size);

      &:focus {
        outline: none;
        border: 0.1rem solid var(--details-colour-secondary);
      }
      &:active {
        border: 0.1rem solid var(--details-colour-secondary);
        outline: none;
      }

      &:focus ~ label,
      &:valid ~ label {
        top: -0.2rem;
        font-size: 0.7rem;
        background-color: var(--background-colour-main);
        padding: 0 0.4rem;
      }

      &:focus ~ label {
        color: var(--details-colour-secondary);
      }

      &:valid ~ label {
        color: var(--text-color-valid);
      }
      &:valid {
        border: 0.1rem solid var(--border-color-primary);
      }
    }
  }

  .adSubmitButton {
    @include Styles.btn-background;
    margin: 1rem auto 0 auto;
    width: 7rem;
  }
}

// AD POSTED SUCCESSFULLY

.adSuccessContainer {
  text-align: center;

  & > * {
    margin-bottom: 1.3rem;
  }

  h3 {
    font-size: var(--h3-font-size);
    color: var(--text-color-dark-secondary);
  }

  span {
    cursor: pointer;
    font-weight: var(--font-light-bold);
    color: var(--text-color-dark-secondary);
  }
}
