@use "../../Styles.scss";
@import "toastr";

.contactPage {
  padding: 2rem 0;
  background-color: var( --background-color-main);

  .contactMainContainer {
    max-width: 55rem;
    width: 95%;
    margin: auto;
    height: 30rem;
    display: flex;
    background-color: var(--background-color-content);
    border-radius: var(--border-radius-primary);
    box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
    var(--box-shadow-secondary) 0px 1px 2px 0px;
    overflow: hidden;

    @media only screen and (max-width: 700px) {
      flex-direction: column;
      height: 100%;
    }

    .contactInfo {
      width: 100%;
      height: 100%;
      min-height: 15rem;
      position: relative;

      .overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
            hsla(0, 0%, 0%, 0.845),
            hsla(0, 3%, 28%, 0.817)
          ),
          url("./freebieLocation.png");
        background-position: center;
        background-size: cover;
        background-position: center;
        background-size: cover;
        color: var(--text-color-light);
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 1.5rem 0;

        .contactInfoTitle {
          max-width: 15rem;

          h2 {
            font-size: var(--h2-font-size);
            margin-bottom: 0.5rem;
          }

          p {
            font-size: var(--normal-font-size);
            letter-spacing: 0.02rem;
          }
        }

        .contactInfoBody {
          margin-top: 2.5rem;
          height: 6rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: var(--normal-font-size);
          letter-spacing: 0.02rem;

          div {
            display: flex;
            align-items: center;

            svg {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }

    .contactForm {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 2rem 0;

      h1 {
        margin-bottom: 1rem;
        font-size: var(--h2-font-size);
        color: var(--title-color-dark);
      }

      .inputNameContainer,
      .inputEmailContainer,
      .textareaContainer {
        position: relative;
        width: 70%;
        margin-bottom: 0.5rem;

        label {
          color: var(--text-color-light-secondary);
          position: absolute;
          pointer-events: none;
          left: 0.8rem;
          top: 1rem;
          transition: 0.3s ease all;
          -moz-transition: 0.3s ease all;
          -webkit-transition: 0.3s ease all;
        }
        input,
        textarea {
          font-family: "Montserrat", sans-serif;
          color: var(--text-colour-light);
          margin: 0.3rem 0;
          padding: 0.8rem;
          width: 100%;
          border: 0.1rem solid var(--border-color-primary);
          border-radius: var(--border-radius-primary);
          resize: none;
          letter-spacing: 0.02rem;

          &:-webkit-autofill {
            -webkit-text-fill-color: rgb(0, 0, 0) !important;
            transition: background-color 500000s ease-in-out 0s;
            -webkit-box-shadow: 0 0 0 30px
              white inset !important;
          }

          &:focus {
            outline: none;
            border: 0.1rem solid var(--details-colour-secondary);
          }
          &:active {
            border: 0.1rem solid var(--details-colour-secondary);
            outline: none;
          }
          &:focus ~ label,
          &:valid ~ label {
            top: -0.2rem;
            font-size: var(--small-font-size);
            background-color: var(--background-color-content);
            padding: 0 0.4rem;
          }

          &:focus ~ label {
            color: var(--details-colour-secondary);
          }

          &:valid ~ label {
            color: var(--text-color-valid);
          }
          &:valid {
            border: 0.1rem solid var(--border-color-primary);
          }
        }
      }

      .textareaContainer {
        textarea {
          transition: .3s;
          height: 7rem;

          &:focus {
            height: 11rem;
          }
        }
      }

      button {
        @include Styles.btn-background;
        width: 7rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        margin: 0;
      }
    }
  }
}

// /* Alert Position */

$alert-width: 31.25rem;
$alert-extra-padding: 3.125rem;

.alert-main {
  animation: fadeIn ease 0.5s;
  width: $alert-width;
  margin: auto;
  position: fixed;
  background-color: var(--background-color-content);
  min-height: 12.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  top: 20vh;
  // left: calc(50vw - #{($alert-width/2)});
  @media (max-width: $alert-width+$alert-extra-padding) {
    width: 90vw;
    left: 5vw;
  }
}

.alert-header {
  padding: 1rem;
  font-size: 1.625rem;
  font-weight: 600;
}

.alert-body {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.063rem;
}

.alert-button {
  width: 9.375rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color-light);
  font-size: 1.063rem;
  font-weight: 600;
  border-radius: var(--border-radius-primary);
  align-items: center;
  position: relative;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.backdrop {
  animation: fadeIn ease 1s;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
