// * {
//   outline: 1px solid black;
// }

.removePathBanner {
  display: none;
}

.pathBannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F4F4F4;
  margin-top: 2rem;

  .pathBanner {
    display: flex;
    align-items: center;
    color: rgb(80, 80, 80);
    text-transform: capitalize;
    padding: 0.9rem;
    padding-left: 4rem;
    font-size: 1.3rem;
    font-weight: 600;
    width: 100%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    & > * {
      margin-right: 0.5rem;
    }
  }
}
