.removePathBanner {
  display: none;
}

.pathBannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color-main);
  margin-top: 2rem;

  .pathBanner {
    display: flex;
    align-items: center;
    color: var(--text-color-dark-secondary);
    text-transform: capitalize;
    padding: 0.9rem;
    padding-left: 4rem;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium-bold);
    width: 100%;
    background: var(--background-color-content);
    box-shadow: var(--box-shadow-primary) 0px 1px 3px 0px,
      var(--box-shadow-secondary) 0px 1px 2px 0px;

      @media only screen and (max-width: 500px) {
        padding-left: 1rem;
        font-size: 1rem;
      }

    & > * {
      margin-right: 0.5rem;
    }
  }
}
